$container-width: 1200px;
@import '../../base/mixins.module';
@import '../../base/madiaquery.module';
.whatIDo{
  position: relative;
  height: fit-content;
  background-color: #343a40;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
  padding: 4.5rem 0;
  h2{
    font-weight: 600;
    font-size: 2.25rem;
    color: white;
    letter-spacing: 1rem;
    @include adaptiv-value('font-size', 36, 20, 3);
    @include tablet{
      padding: 10px;
      margin: 0;
    }
  }
  .absolute {
    position: absolute;
    top: 6%;
    width: 100%;
    text-align: center;
    font-size: 8rem;
    color: rgba(239, 236, 236, 0.15);
    z-index: 0;
    @include adaptiv-value('font-size', 128, 26,3);
    @include small-desktop {
      //display: none;
    }
  }
  .container{
    max-width: $container-width;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px 60px;
    @include adaptiv-value('padding-left', 0, 20,3);
    @include adaptiv-value('padding-right', 0, 10,3);
  }
}