.personalInfo {
  height: fit-content;
  background-color: #343a40;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4.5rem 0;
  gap: 60px;
}
.personalInfo .title {
  font-weight: 600;
  font-size: 2.25rem;
  color: #fff;
}
.personalInfo .container {
  max-width: 1200px;
  width: 100%;
  height: inherit;
  display: flex;
  justify-content: space-between;
}
.personalInfo .container .info {
  max-width: 230px;
  width: 100%;
  padding: 0px 12px;
  color: #dee3e4;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.personalInfo .container .info .contacts {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.personalInfo .container .info .contacts .address {
  font-size: 1.3125rem;
}
.personalInfo .container .info .contacts .city {
  position: relative;
  text-align: end;
}
.personalInfo .container .info .contacts .city:before {
  content: "";
  background-image: url("../../assets/location.png");
  width: 20px;
  height: 30px;
  position: absolute;
  background-size: cover;
  left: 15px;
  top: -8px;
  cursor: pointer;
}
.personalInfo .container .info .phoneAndEmail {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.personalInfo .container .info .phoneAndEmail .phone {
  position: relative;
  text-align: end;
}
.personalInfo .container .info .phoneAndEmail .phone:before {
  content: "";
  background-image: url("../../assets/chats.png");
  width: 50px;
  height: 35px;
  position: absolute;
  background-size: cover;
  left: 0px;
  top: -12px;
  cursor: pointer;
}
.personalInfo .container .info .phoneAndEmail .email {
  position: relative;
  text-align: end;
}
.personalInfo .container .info .phoneAndEmail .email:before {
  content: "";
  background-image: url("../../assets/email.png");
  width: 30px;
  height: 30px;
  position: absolute;
  background-size: cover;
  left: 10px;
  top: -5px;
  cursor: pointer;
}
.personalInfo .container .info .followMe {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.personalInfo .container .info .followMe .networks {
  display: flex;
  align-items: center;
  gap: 20px;
}
.personalInfo .container .info .followMe .networks .pic {
  max-width: 30px;
}
.personalInfo .container .info .followMe .networks .pic:hover {
  scale: 1.2;
  transition: 0.5s;
}
.personalInfo .container .note {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.personalInfo .container .note .noteTitle {
  font-size: 1.3125rem;
  text-align: left;
  color: white;
}
.personalInfo .container .note .gridContainer {
  display: grid;
  grid-template-columns: 400px 400px;
  grid-template-rows: 50px 120px;
  grid-template-areas: "a b ." "c c c";
  gap: 20px 0px;
}
.personalInfo .container .note .gridContainer .gridInner {
  border-radius: 5px;
  padding: 0.81rem 0.96rem;
  background: #232a31;
  border-color: #232a31;
  color: white;
}
.personalInfo .container .note .gridContainer .name {
  grid-area: a;
  margin-right: 10px;
}
.personalInfo .container .note .gridContainer .email {
  grid-area: b;
  margin-left: 10px;
}
.personalInfo .container .note .gridContainer .description {
  grid-area: c;
}

/*# sourceMappingURL=PersonalInfo.module.css.map */
