@import '../../../base/mixins.module';
@import '../../../base/madiaquery.module';
.resumeElement {
  background-color: #111418;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  width: 624px;
  //width: 100%;
  border-radius: 5px;
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  @include adaptiv-value('max-width', 624, 300, 3);
  @include small-desktop{
    padding: 10px;
    margin: 0;
  }

  .years {
    color: white;
    background: #20c997;
    border-radius: 5px;
    padding: 4px 10px;
    max-width: 180px;
    width: 100%;
    text-align: center;
    align-self: flex-end;
  }
  .title{
    color: white;
    @include adaptiv-value('font-size', 36, 20, 3);
  }
  .company{
    color: #20c997;
    @include adaptiv-value('font-size', 16, 10, 3);
  }

  .description {
    color: hsla(0, 0%, 100%, .5);
    @include adaptiv-value('font-size', 16, 10, 3);
  }
}