.resumeElement {
  background-color: #111418;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  max-width: 624px;
  width: 100%;
  border-radius: 5px;
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .years {
    color: white;
    background: #20c997;
    border-radius: 5px;
    padding: 4px 10px;
    max-width: 100px;
    width: 100%;
  }
  .title{
    color: white;
  }
  .company{
    color: #20c997;
  }

  .description {
    color: hsla(0, 0%, 100%, .5)
  }
}