.header {
  //position: fixed;
  //top: 0;
  //width: 100%;
  //position: absolute;
  height: 80px;
  background: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .myName{
    font-size: 32px;
    font-weight: bold;
    color: white;
  }
  .container{
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .socialNetworks{
    display: flex;
    gap: 20px;
    color: white;
  }
}



//
//.header {
//  position: fixed;
//  top: 0;
//  width: 100%;
//  height: 80px;
//  background-color: transparent;
//  display: flex;
//  justify-content: space-around;
//  align-items: center;
//  z-index: 10;
//  .myName{
//    font-size: 32px;
//    font-weight: bold;
//    color: white;
//  }
//  .container{
//    max-width: 1200px;
//    width: 100%;
//    display: flex;
//    justify-content: center;
//  }
//  .socialNetworks{
//    display: flex;
//    gap: 20px;
//    color: white;
//  }
//}
//
