@import '../../base/mixins.module';
@import '../../base/madiaquery.module';

.header {
  //position: fixed;
  //top: 0;
  //width: 100%;
  //position: absolute;
  position: relative;
  height: 80px;
  background: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 90px;
  gap: 30px;

    @include adaptiv-value('padding-left', 90, 10,3);
    @include adaptiv-value('padding-right', 90, 10,3);


  .myName{
    font-size: 32px;
    font-weight: bold;
    color: white;
  }
  .container{
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: center;
      @include adaptiv-value('max-width',1200,400,3);

  }
  .networks{
    min-width: 130px;
    display: flex;
    align-items: center;
    gap:20px;
    .pic{
      max-width: 30px;
      width: 100%;
      &:hover{
        scale: 1.2;
        transition: 0.5s;
      }
    }
  }
}
