@import '../../../base/mixins.module';
@import '../../../base/madiaquery.module';
.menu {
  position: fixed;
  right: 0;
  width: 100vw;
  height: 100vh;
  top: 80px;
  transform: translate(-140%);
  transition: 1s;
  &.active {
  transform: translate(0);
}
  .blur {
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(2px);
    position: absolute;

    .menuContent {
      max-width: 400px;
      width: 100%;
      height: 100%;
      background-color: #000;
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: 1s;
        @include adaptiv-value('max-width',400,600,3);

      .menuHeader {
        padding: 10px;
        font-size: 2rem;
        color: #20c997;
        border-bottom: 1px solid #20c997;
        width: 100%;
        text-align: center;
      }
      ul {
        padding: 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 30px;
        font-size:26px;
        a{
          &:hover{
            color: #20c997;
          }
        }
      }
    }
  }
}
