$container-width: 1200px;
@import '../../../base/mixins.module';
@import '../../../base/madiaquery.module';
.WhatIDoElement {
  padding: 4px;
  max-width: calc($container-width / 2 - 50px);
  width: 100%;
  background-color: #343a40;
  display: flex;
  align-items: center;
  gap: 20px;
  border-radius: 5px;


  .imageContainer {



    .image {
      background-color: #212529;
      border-radius: 5px;
      align-items: center;
      display: flex;
      flex-shrink: 0;
      height: 70px;
      width: 70px;
      @include adaptiv-value('width', 70, 40, 3);
      @include adaptiv-value('height', 70, 40, 3);
      .pallete{
        width: 100%;
        height: 100%;
        border-radius: 5px;
        color: #20c997;

      }
    }
  }

  .description {
    width: 80%;

    .title {
      color: white;
      //font-size: 1.5rem;
      @include adaptiv-value('font-size', 28, 18,3);
    }

    .about {
      color: hsla(0, 0%, 100%, .5);
      font-size: 1rem;
      @include adaptiv-value('font-size', 16, 10,3);
    }
  }
}