*, :after, :before {
    box-sizing: border-box;
}
body{
    font-family: 'Roboto';
    margin: 0;
}
a {
    color: white;
    text-decoration : none;
    cursor : pointer;
}
ol, ul {
    list-style : none;
}

button {
    cursor : pointer;
}

img, svg {
    max-width : 100%;
    height    : auto;
}

h1, h2, h3, h4, p, li, a{
    padding : 0;
    margin  : 0;

}

.App {

}