.nav {
  border: 1px solid red;
  max-width: 300px;
  max-height: 20px;
  .menu {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 20px;
    .item {
      a {
        text-decoration: none;
      }
    }
  }
}